In [1]:
print('Hello World!')

Hello World!

In [5]:
myNums = [1, 2, 3, 4 ,5]
myNums

[1, 2, 3, 4, 5]

In [6]:
for n in myNums:
    print(n+1)

2
3
4
5
6

In [7]:
import pandas as pd

In [8]:
myNums.sort(reverse=True)

In [9]:
print(myNums)

[5, 4, 3, 2, 1]

In [10]:
df1 = pd.DataFrame({
  'Product ID': [1, 2, 3, 4],
  'Product Name': ['t-shirt', 't-shirt', 'skirt', 'skirt'],
  'Color': ['blue', 'green', 'red', 'black']
})

print(df1)

   Product ID Product Name  Color
0           1      t-shirt   blue
1           2      t-shirt  green
2           3        skirt    red
3           4        skirt  black

In [11]:
df2 = pd.DataFrame([
  [1, 'San Diego', 100],
  [2, 'Los Angeles', 120],
  [3, 'San Francisco', 90],
  [4, 'Sacramento', 115]
],
  columns=[
    'Store ID',
    'Location',
    'Number of Employees'
  ])

print(df2)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

In [12]:
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)
clinic_north = df.clinic_north
print(type(clinic_north))
print(clinic_north)

<class 'pandas.core.series.Series'>
0    100
1     45
2     96
3     80
4     54
5    109
Name: clinic_north, dtype: int64

In [13]:
clinic_north_south = df[['clinic_north', 'clinic_south']]

print(type(clinic_north_south))

<class 'pandas.core.frame.DataFrame'>

In [14]:
march = df.iloc[2]
april_may_june = df.iloc[-3:]
print(march)
print(april_may_june)

month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object
   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

In [15]:
january = df[df.month == 'January']
print(january)
march_april = df[(df.month == "March") | (df.month == "April")]
print(march_april)

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100
   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180

In [16]:
january_february_march = df[df.month.isin(['January', 'February', 'March'])]
print(january_february_march)

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96

In [17]:
f2 = df.loc[[1, 3, 5]]
print(df2)
# df3 = df2.reset_index()
# print(df3)
# df2.reset_index(drop = True, inplace = True)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

In [18]:
# orders = pd.read_csv('shoefly.csv')
# print(orders[0:6])

# emails = orders.email
# frances_palmer = orders[(orders.first_name == 'Frances') & (orders.last_name == 'Palmer')]

# comfy_shoes = orders[orders.shoe_type.isin(['clogs', 'boots', 'ballet flats'])]