In [2]:
import pandas as pd

In [1]:
companies =["Blue Origin", "Northrop Grumman", "L3 Harris", "SpaceX", "Lockheed Martin"]
type(companies)

list

In [3]:
companies.append("NASA")

In [4]:
print(companies)

['Blue Origin', 'Northrop Grumman', 'L3 Harris', 'SpaceX', 'Lockheed Martin', 'NASA']

In [5]:
len(companies)

6

In [7]:
companies[0]

'Blue Origin'

In [9]:
companies[1:3]

['Northrop Grumman', 'L3 Harris']

In [10]:
firstChoice = companies.pop()
print(firstChoice)
companies

NASA

['Blue Origin', 'Northrop Grumman', 'L3 Harris', 'SpaceX', 'Lockheed Martin']

In [12]:
firstChoice = companies.pop(2)
print(firstChoice)
companies

L3 Harris

['Blue Origin', 'Northrop Grumman', 'SpaceX', 'Lockheed Martin']

In [13]:
for title in companies: print(title)

Blue Origin
Northrop Grumman
SpaceX
Lockheed Martin

In [14]:
for n in 'Title': print(n)

T
i
t
l
e

In [15]:
firstChoice[3]

'H'

In [16]:
companies_tuple = ("Blue Origin", "Northrop Grumman", "L3 Harris", "SpaceX", "Lockheed Martin", "Nasa")
type(companies_tuple)

tuple

In [17]:
companies_tuple[3]

'SpaceX'

In [18]:
companies_tuple.append('General Dynamics')

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
companies_set ={"Blue Origin", "Northrop Grumman", "L3 Harris", "SpaceX", "Lockheed Martin", "Nasa"}
type(companies_set)

set

In [23]:
reasons = {'Intellectual stimualation', 'Growth', 'Accomplishment', 'Money', 'Locations', 'Fun'}

In [21]:
reasons & companies_set

set()

In [24]:
reasons | companies_set

{'Accomplishment',
 'Blue Origin',
 'Fun',
 'Growth',
 'Intellectual stimualation',
 'L3 Harris',
 'Locations',
 'Lockheed Martin',
 'Money',
 'Nasa',
 'Northrop Grumman',
 'SpaceX'}

In [25]:
alist = [1,2,3,4,5,4,3,4,5,6]
set(alist)

{1, 2, 3, 4, 5, 6}

In [26]:
pdict = {'a':1, 'b':2}
type(pdict)

dict

In [27]:
d_reasons = {k:len(k) for k in reasons}

In [28]:
d_reasons.keys()

dict_keys(['Intellectual stimualation', 'Growth', 'Fun', 'Accomplishment', 'Locations', 'Money'])