Python Analysis and Feature Engineering
=======


This lab will introduce to practical code for two concepts

1. SQL style querying in Pandas 
1. SQL style data shaping in Pandas

**Notebook Setup**

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('labtrain1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5332 entries, 0 to 5331
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         5332 non-null   int64
 1   Calendar_Year  5332 non-null   int64
 2   Model_Year     5332 non-null   int64
 3   NVVar1         5332 non-null   float64
 4   NVVar2         5332 non-null   float64
 5   NVVar3         5332 non-null   float64
 6   NVVar4         5332 non-null   float64
 7   HasLoss        5332 non-null   int64
dtypes: float64(4), int64(4)
memory usage: 333.4 KB

In [3]:
df.describe()

,Row_ID,Calendar_Year,Model_Year,NVVar1,NVVar2,NVVar3,NVVar4,HasLoss
count,5.332000e+03,5332.000000,5332.000000,5332.000000,5332.000000,5332.000000,5332.000000,5332.000000
mean,6.487360e+06,2006.052701,1999.383346,0.044210,0.078245,0.079615,0.055697,0.502251
std,3.825032e+06,0.815829,4.932872,1.098786,1.131062,1.128958,1.103533,0.500042
min,1.573000e+03,2005.000000,1981.000000,-0.231530,-0.266117,-0.272337,-0.251419,0.000000
25%,3.229406e+06,2005.000000,1996.000000,-0.231530,-0.266117,-0.272337,-0.251419,0.000000
50%,6.380048e+06,2006.000000,2000.000000,-0.231530,-0.266117,-0.272337,-0.251419,1.000000
75%,9.802822e+06,2007.000000,2003.000000,-0.231530,-0.266117,-0.272337,-0.251419,1.000000
max,1.318136e+07,2007.000000,2008.000000,6.627110,8.883081,8.691144,6.388802,1.000000

**Data Setup**

SQL style querying in Pandas
----
1. SELECT or Vertical filters
1. WHERE or Horizontal filters
1. ORDER BY or Sort
1. TOP NN/ LIMIT NN
1. GROUP BY and aggregate samples
1. HAVING or filtered aggregation

**SELECT**

In [5]:
#SELECT Calendar_Year,NVVar1 from df
#by label
select_df1 = df[["Calendar_Year","NVVar2"]]
select_df1

      Calendar_Year    NVVar2
0              2006 -0.266117
1              2005 -0.266117
2              2006 -0.266117
3              2005 -0.266117
4              2007 -0.266117
...             ...       ...
5327           2007 -0.266117
5328           2007 -0.266117
5329           2007 -0.266117
5330           2005 -0.266117
5331           2007 -0.266117

[5332 rows x 2 columns]

In [12]:
collist = ",".join(list(select_df1.columns)).replace(",","\',\'")

In [13]:
collist

"Calendar_Year','NVVar2"

In [15]:
#SELECT Calendar_Year,NVVar1 from df WHERE Calendar_Year = 2006
# by position
select_df2 = df[df.Calendar_Year == 2005].iloc[:,[0,1,2,3]]
select_df2

        Row_ID  Calendar_Year  Model_Year   NVVar1
1      5872967           2005        2004 -0.23153
3      6453577           2005        2003 -0.23153
11    12497044           2005        2001 -0.23153
14    11041919           2005        1999 -0.23153
16     4563653           2005        1994 -0.23153
...        ...            ...         ...      ...
5308  10920487           2005        1992  3.19779
5310   9465743           2005        1998 -0.23153
5316   9772077           2005        2000 -0.23153
5323   1115074           2005        1994 -0.23153
5330   5030537           2005        1998 -0.23153

[1641 rows x 4 columns]

In [16]:
#SELECT COUNT(*) FROM select_df2
len(select_df2)

1641

In [19]:
#SELECT COUNT(*) FROM df  WHERE Calendar_Year = 2005
len(df[df.Calendar_Year == 2005])

1641

In [20]:
for dt in select_df2.dtypes: print(dt)

int64
int64
int64
float64

In [21]:
#select only numerics
#numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerics = [ 'int64']
#df_numeric = df.select_dtypes(include=numerics) 
df.describe(include=numerics).T

,count,mean,std,min,25%,50%,75%,max
Row_ID,5332.0,6.487360e+06,3.825032e+06,1573.0,3229406.5,6380048.0,9802822.0,13181365.0
Calendar_Year,5332.0,2.006053e+03,8.158290e-01,2005.0,2005.0,2006.0,2007.0,2007.0
Model_Year,5332.0,1.999383e+03,4.932872e+00,1981.0,1996.0,2000.0,2003.0,2008.0
HasLoss,5332.0,5.022506e-01,5.000418e-01,0.0,0.0,1.0,1.0,1.0

**ORDER BY**

In [22]:
#SELECT 
#     Calendar_Year,NVVar1 
#FROM
#     df 
#ORDER BY Calendar_Year ASC
select_df1.sort_values('Calendar_Year')

      Calendar_Year    NVVar2
3958           2005  2.783616
1525           2005 -0.266117
3670           2005 -0.266117
1523           2005 -0.266117
3671           2005 -0.266117
...             ...       ...
1552           2007  2.021183
3640           2007 -0.266117
1551           2007 -0.266117
3635           2007 -0.266117
5331           2007 -0.266117

[5332 rows x 2 columns]

In [23]:
#SELECT 
#     Calendar_Year,NVVar1 

#FROM
#     df 
#ORDER BY Calendar_Year DESC
select_df1.sort_values('Calendar_Year',ascending=False)

      Calendar_Year    NVVar2
5331           2007 -0.266117
3747           2007 -0.266117
1677           2007 -0.266117
1678           2007 -0.266117
1679           2007 -0.266117
...             ...       ...
3804           2005 -0.266117
1613           2005 -0.266117
3800           2005 -0.266117
3799           2005 -0.266117
2666           2005 -0.266117

[5332 rows x 2 columns]

**TOP / LIMIT**

In [24]:
#SELECT TOP 50 
#Calendar_Year,NVVar1 
#FROM
#     df 
#ORDER BY Calendar_Year DESC
#       or
#SELECT 
#Calendar_Year,NVVar1 
#FROM
#     df 
#ORDER BY Calendar_Year DESC
#LIMIT 50
select_df1.sort_values('Calendar_Year',ascending=False)[0:49]

      Calendar_Year    NVVar2
5331           2007 -0.266117
3747           2007 -0.266117
1677           2007 -0.266117
1678           2007 -0.266117
1679           2007 -0.266117
1680           2007 -0.266117
3753           2007 -0.266117
3751           2007 -0.266117
3745           2007 -0.266117
3758           2007 -0.266117
3744           2007  2.783616
1688           2007 -0.266117
3741           2007 -0.266117
1690           2007 -0.266117
3740           2007 -0.266117
3739           2007 -0.266117
3757           2007 -0.266117
1674           2007 -0.266117
3779           2007  2.021183
1661           2007 -0.266117
3777           2007 -0.266117
1655           2007 -0.266117
1656           2007 -0.266117
3775           2007 -0.266117
3774           2007 -0.266117
1660           2007 -0.266117
3770           2007 -0.266117
1673           2007 -0.266117
1664           2007 -0.266117
3767           2007 -0.266117
3765           2007 -0.266117
3763           2007 -0.266117
3759           2007 -0.266117
1672           2007 -0.266117
3737           2007  2.021183
1694           2007 -0.266117
3736           2007 -0.266117
3706           2007 -0.266117
3713           2007 -0.266117
1726           2007 -0.266117
3711           2007  2.783616
1728           2007 -0.266117
3710           2007 -0.266117
3709           2007 -0.266117
1733           2007 -0.266117
3733           2007 -0.266117
1734           2007 -0.266117
1735           2007 -0.266117
1736           2007 -0.266117

In [25]:
#SELECT 
#TOP 50 PERCENT
#Calendar_Year,NVVar1 
#FROM
#     df 
#ORDER BY Calendar_Year DESC
print("before:",len(select_df1))
#select_df1_after = select_df1.sort_values('Calendar_Year',ascending=False).head(int(df.shape[0]*.5))
select_df1_after = \
    select_df1.sort_values('Calendar_Year',ascending=False) \
    .head(int(len(select_df1)*.5))
print("after:",len(select_df1_after))

before: 5332
after: 2666

In [26]:
# WITH
#     foo as
#     (
#         SELECT 
#              *
#         from 
#             df
#         ORDER By Calendar_Year
#         LIMIT 50
#     )
#     SELECT 
#         Top 50% *
#     FROM
#         foo
print("before:",len(select_df1))
#select_df3 =select_df1[0:49].sort_values('Calendar_Year',ascending=False)
select_df2_after = \
    select_df1[0:49].sort_values(
        'Calendar_Year',ascending=False).head( \
            int(select_df1[0:49].sort_values(
                'Calendar_Year',ascending=False).shape[0]*.5))
print("after:",len(select_df2_after))

before: 5332
after: 24

**GROUP BY**

In [27]:
# SELECT
#     Calendar_Year
#     ,COUNT(NVVar1) AS 'Calendar_Year_Count'
#     ,COUNT(DISTINCT NVVar1) AS 'Calendar_Year_Count_Distinct'
#     ,AVG(NVVar1) AS 'Calendar_Year_Count'
#     ,STDEVP(NVVar1) AS 'Calendar_Year_Count'
#     ,MIN(NVVar1) AS 'Calendar_Year_Count'
#     ,MAX(NVVar1) AS 'Calendar_Year_Count'
# FROM
#     df
# GROUP BY Calendar_Year
df_agg1 = pd.DataFrame(
    {
        # SELECT COUNT(NVVar1) GROUP BY Calendar_Year
        'Calendar_Year_Count':
            df.groupby('Calendar_Year')
                .count()['NVVar1']
        , 
        #SELECT COUNT(DISTINCT NVVar1) GROUP BY Calendar_Year
        'Calendar_Year_NVVar1_Count_Distinct':
            df.groupby('Calendar_Year')
                ['NVVar1'].nunique()
        ,
        # SELECT AVERAGE(NVVar1) GROUP BY Calendar_Year
        'Calendar_Year_NVVar1_Avg':
            df.groupby('Calendar_Year')
                .mean()['NVVar1']
        , 
                # SELECT STDEV.P(NVVar1) GROUP BY Calendar_Year
        'Calendar_Year_NVVar1_Std':
            df.groupby('Calendar_Year')
                .std()['NVVar1']
        , 
                # SELECT MIN(NVVar1) GROUP BY Calendar_Year
        'Calendar_Year_NVVar1_Min':
            df.groupby('Calendar_Year')
                .min()['NVVar1']        
        , 
                # SELECT MAX(NVVar1) GROUP BY Calendar_Year
        'Calendar_Year_NVVar1_Max':
            df.groupby('Calendar_Year')
                .max()['NVVar1']                
    }
)
df_agg1

,Calendar_Year_Count,Calendar_Year_NVVar1_Count_Distinct,Calendar_Year_NVVar1_Avg,Calendar_Year_NVVar1_Std,Calendar_Year_NVVar1_Min,Calendar_Year_NVVar1_Max
Calendar_Year,,,,,,
2005,1641,8,0.050172,1.078154,-0.23153,6.62711
2006,1769,10,0.027019,1.083560,-0.23153,6.62711
2007,1922,10,0.054943,1.130088,-0.23153,6.62711

In [28]:
#HasLoss by ModelYear
df_agg2 = pd.DataFrame(
    {
        '2005-2006 Loss Count':
            df.loc[(df.Calendar_Year <= 2006)  ].groupby('Model_Year')
                .sum()['HasLoss']
,
        '2007-2008 Loss Count':
            df.loc[(df.Calendar_Year > 2006)  ].groupby('Model_Year')
                .sum()['HasLoss']
    }
)
df_agg2

            2005-2006 Loss Count  2007-2008 Loss Count
Model_Year
1981                         2.0                     0
1982                         1.0                     1
1983                         2.0                     4
1984                         2.0                     0
1985                         4.0                     3
1986                         6.0                     3
1987                         6.0                     5
1988                        17.0                     5
1989                        21.0                     5
1990                        13.0                    10
1991                        43.0                     6
1992                        35.0                    13
1993                        39.0                    24
1994                        73.0                    32
1995                        97.0                    31
1996                       102.0                    37
1997                        93.0                    52
1998                       104.0                    60
1999                       160.0                    69
2000                       149.0                    80
2001                       144.0                    86
2002                       144.0                    81
2003                       137.0                    75
2004                       143.0                    80
2005                       117.0                    85
2006                        53.0                    70
2007                         4.0                    45
2008                         NaN                     5

In [ ]:
dfg =df.groupby('Calendar_Year')
type(dfg)

In [ ]:
dfg.sum()['HasLoss']

In [ ]:
 df.groupby('Calendar_Year').count()

SQL style data shaping in Pandas
----
1. AS or derived column review
1. JOIN or key based
1. UNION or schema based
1. Pandas operations that don't ft in SQL Box

**AS or derived column review**

In [ ]:
# WITH 
#     NVVar1_Std as
#         (
#             SELECT
#                 STDEVP(NVVar1) AS NVVar1_Std
#             FROM 
#                 df
#         )
#     NVVar1_Avg as
#         (
#             SELECT
#                 AVG(NVVar1) AS NVVar1_Avg
#             FROM 
#                 df
#         )
# SELECT
#     Calendar_Year
#     ,NVVar1
#     ,
#         (
#             NVVar1
#             -
#             NVVar1_Avg.NVVar1_Avg
#         )
#         /
#         NVVar1_Std.NVVar1_Std
#     AS NVVar1_Z_Score
# FROM
#     df
#     ,NVVar1_Std
#     ,NVVar1_Avg
df['NVVar1_ZScore'] \
    = (
            df['NVVar1']  \
            -  \
            df['NVVar1'].mean() \
        )  \
            /  \
        df['NVVar1'].std(ddof=0)
#alternately 
#df['NVVar1_ZScore2']= stats.zscore(df['NVVar1'], axis=1, ddof=10.to_frame()
df[["Calendar_Year","NVVar1","NVVar1_ZScore"]].describe()

In [ ]:
from scipy import stats

df["newz"] = stats.zscore(df["NVVar1"])
df.describe().T

In [ ]:
dfg = (df['NVVar1'] - df['NVVar1'].mean() )/df['NVVar1'].std(ddof=0)

**JOIN or key based**

In [ ]:
#WITH tbl_cal AS 
# (
#SELECT
# <col> as '<col>',
# sum(1) as 'count',
# mean(<col>) as 'mean',
# stdev(<col>) as 'std',
# min(<col>) as 'min',
# PERCENTILE_DISC(0.25) OVER (PARTITION BY 1 ORDER BY <col>) as '25',
# PERCENTILE_DISC(0.50) OVER (PARTITION BY 1 ORDER BY <col>) as '50',
# PERCENTILE_DISC(0.75) OVER (PARTITION BY 1 ORDER BY <col>) as '75',
# max(<col>) as 'max'
# ...
# SELECT tbl1...
# PIVOT...

newdf = pd.read_csv('labtrain2.csv')
newdf.describe()

In [ ]:
#SELECT a.*,b.* from df a inner JOIN newdf b on a.Calendar_Year = b.NVVar1 
#SELECT a.*,b.* from df a left JOIN newdf b on a.Calendar_Year = b.NVVar1 
#SELECT a.*,b.* from df a right JOIN newdf b on a.Calendar_Year = b.NVVar1 
#SELECT a.*,b.* from df a outer JOIN newdf b on a.Calendar_Year = b.NVVar1 
innerjoin=df.join(newdf, how="inner", lsuffix ='Calendar_Year', rsuffix ='NVVar1')
leftjoin=df.join(newdf, how="left", lsuffix ='Calendar_Year', rsuffix ='NVVar1')
righjoin=df.join(newdf, how="right", lsuffix ='Calendar_Year', rsuffix ='NVVar1')
outerjoin=df.join(newdf, how="outer", lsuffix ='Calendar_Year', rsuffix ='NVVar1')
print("rows df: ",len(df))
print("rows newdf: ",len(newdf))
print("rows innerjoin: ",len(innerjoin))
print("rows leftjoin: ",len(leftjoin))
print("rows rightjoin: ",len(righjoin))
print("rows outerjoin: ",len(outerjoin))

In [ ]:
df.join?

**UNION or schema based**

In [ ]:
#SELECT *,NULL AS Unnamed: 0,	NULL AS NVVar2_ZScore, NULL AS	NVVar3_ZScore	NVVar4_ZScore from df
#UNION ALL
#SELECT * from newdf
df_union= pd.concat([df,newdf],ignore_index=True,sort=False)
print("rows df_union: ",len(df_union))
df_union

In [ ]:
df_union.info()

**Pandas operations that don't fit in SQL Box**

In [ ]:
#Where SQL ends and Python begins :)
df.info()
df.groupby(
    ['Calendar_Year']
).agg(
    [
        'min'
        ,'max'
        ,'count'
        ,'nunique'
    ]
)

In [ ]:
#hot encoding or case statements forever
df['Calendar_Year_Enum'] = df['Calendar_Year'].astype(str)
pd.get_dummies(df)

In [ ]:
df.loc[(df.Calendar_Year <= 2006)  ]