In [3]:
'''
Four basic data structures in Phyton
Lists - writable, iterable
Tuples - read-only, iterable
Sets - read-only, non-iterable
Dictionaries - writable, iterable
'''

'\nFour basic data structures in Phyton\nLists\nTuples\nSets\nDictionaries\n'

In [43]:
Siblings = ["Jim","Janet","Laura","Joe"]
type(Siblings)

list

In [6]:
Siblings = ("Jim","Janet","Laura","Joe")
type(Siblings)

tuple

In [7]:
Siblings = {"Jim","Janet","Laura","Joe"}
type(Siblings)

set

In [8]:
len(Siblings)

4

In [12]:
#Python is 0 indexed, R & SQL are 1 indexed
Siblings[2]

'Laura'

In [44]:
#append is listed as a queue FIFO
Siblings.append("Temi")
Siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Temi']

In [45]:
#pop is listed as a stack LIFO
kid = Siblings.pop()
print(kid)
Siblings

Temi

['Jim', 'Janet', 'Laura', 'Joe']

In [47]:
kid = Siblings.pop(1)
print(kid)
Siblings

Laura

['Jim', 'Joe']

In [49]:
for items in Siblings: print(items)

Jim
Joe

In [50]:
for n in 'Temi': print(n)

T
e
m
i

In [53]:
Siblings_tuple = ("Jim","Janet","Laura","Joe")
type(Siblings_tuple)

tuple

In [54]:
Siblings_tuple[2]

'Laura'

In [63]:
Siblings_set = {"Jim","Janet","Laura","Joe"}
type(Siblings_set)

set

In [64]:
people = {"Andrew", "Brian", "Brandon", "Jaquellous", "Rebecca", "Darian", "Temi"}

In [67]:
people & Siblings_set

set()

In [68]:
people | Siblings_set

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Janet',
 'Jaquellous',
 'Jim',
 'Joe',
 'Laura',
 'Rebecca',
 'Temi'}

In [69]:
Nlist = [1,2,3,4,5,4,3,4,5]
set(Nlist)

{1, 2, 3, 4, 5}

In [70]:
#dictionary a key-value pair
sdict = {"a":1 , "b":2}
type(sdict)

dict

In [73]:
#python comprehension
d_people ={n:len(n) for n in people}

In [75]:
d_people.keys()

dict_keys(['Rebecca', 'Brandon', 'Brian', 'Jaquellous', 'Andrew', 'Darian', 'Temi'])

In [76]:
d_people.values()

dict_values([7, 7, 5, 10, 6, 6, 4])

In [77]:
d_people["Oyin"] = 4
d_people

{'Rebecca': 7,
 'Brandon': 7,
 'Brian': 5,
 'Jaquellous': 10,
 'Andrew': 6,
 'Darian': 6,
 'Temi': 4,
 'Oyin': 4}

In [78]:
def C(name):
    return len(name)

In [79]:
count_char('Screen')

6

In [80]:
# **Kwargs
# pointer
nd = {"name":"Screen"}

In [81]:
type(nd)

dict

In [82]:
count_char(**nd)

6

In [83]:
print("hello "+kid)

hello Laura

In [84]:
print(f"Hello {Siblings}")

Hello ['Jim', 'Joe']

In [90]:
print("Hello {}".format(*Siblings))

Hello Jim