In [3]:
'''
Four basic data structures in Phyton
Lists - writable, iterable
Tuples - read-only, iterable
Sets - read-only, non-iterable
Dictionaries - writable, iterable
'''

'\nFour basic data structures in Phyton\nLists\nTuples\nSets\nDictionaries\n'

In [6]:
Siblings = ["Jim","Janet","Laura","Joe"]
type(Siblings)

list

In [2]:
Siblings = ("Jim","Janet","Laura","Joe")
type(Siblings)

tuple

In [3]:
Siblings = {"Jim","Janet","Laura","Joe"}
type(Siblings)

set

In [4]:
len(Siblings)

4

In [7]:
#Python is 0 indexed, R & SQL are 1 indexed
Siblings[2]

'Laura'

In [8]:
#append is listed as a queue FIFO
Siblings.append("Temi")
Siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Temi']

In [9]:
#pop is listed as a stack LIFO
kid = Siblings.pop()
print(kid)
Siblings

Temi

['Jim', 'Janet', 'Laura', 'Joe']

In [10]:
kid = Siblings.pop(1)
print(kid)
Siblings

Janet

['Jim', 'Laura', 'Joe']

In [11]:
for items in Siblings: print(items)

Jim
Laura
Joe

In [12]:
for n in 'Temi': print(n)

T
e
m
i

In [13]:
Siblings_tuple = ("Jim","Janet","Laura","Joe")
type(Siblings_tuple)

tuple

In [14]:
Siblings_tuple[2]

'Laura'

In [15]:
Siblings_set = {"Jim","Janet","Laura","Joe"}
type(Siblings_set)

set

In [16]:
people = {"Andrew", "Brian", "Brandon", "Jaquellous", "Rebecca", "Darian", "Temi"}

In [17]:
people & Siblings_set

set()

In [18]:
people | Siblings_set

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Janet',
 'Jaquellous',
 'Jim',
 'Joe',
 'Laura',
 'Rebecca',
 'Temi'}

In [19]:
Nlist = [1,2,3,4,5,4,3,4,5]
set(Nlist)

{1, 2, 3, 4, 5}

In [20]:
#dictionary a key-value pair
sdict = {"a":1 , "b":2}
type(sdict)

dict

In [21]:
#python comprehension
d_people ={n:len(n) for n in people}

In [22]:
d_people.keys()

dict_keys(['Brian', 'Darian', 'Brandon', 'Jaquellous', 'Rebecca', 'Temi', 'Andrew'])

In [23]:
d_people.values()

dict_values([5, 6, 7, 10, 7, 4, 6])

In [24]:
d_people["Oyin"] = 4
d_people

{'Brian': 5,
 'Darian': 6,
 'Brandon': 7,
 'Jaquellous': 10,
 'Rebecca': 7,
 'Temi': 4,
 'Andrew': 6,
 'Oyin': 4}

In [25]:
def C(name):
    return len(name)

In [26]:
def count_char(name):
    return len(name)

In [27]:
count_char('TemitopeOyeleye')

15

In [28]:
# **Kwargs
# pointer
nd = {"name":"Screen"}

In [29]:
type(nd)

dict

In [30]:
count_char(**nd)

6

In [31]:
print("hello "+kid)

hello Janet

In [84]:
print(f"Hello {Siblings}")

Hello ['Jim', 'Joe']

In [90]:
print("Hello {}".format(*Siblings))

Hello Jim