In [4]:
SELECT 
TOP 18 CustID
ORDER BY
    ,CustCity
    ,CustState
FROM Customers

: Msg 102, Level 15, State 1, Line 4
Incorrect syntax near ','.