In [ ]:
''' Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that read1s a file from the complex data type
    1. one function that writes a file from the complex data type
'''

In [23]:
children =["Michael","Olivia","Isaac"]

In [24]:
print (children)
children.pop()
print (children)

['Michael', 'Olivia', 'Isaac']
['Michael', 'Olivia']

In [26]:
print (children)
children.remove('Michael')
print (children)

['Michael', 'Olivia']
['Olivia']

In [27]:
'David' in children

False

In [28]:
'Olivia' in children

True

In [14]:
houses = [['single', 1, 1580],
            ['multi', 7, 4320],
            ['triplex', 3, 2860],
            ['quadriplex', 4, 3546],
            ['duplex', 2, 2100 ]]
purchase_type = [['va', 2020, 230000],
            ['cash', 2019, 450000],
            ['conventional', 2018, 280000],
            ['county', 2017, 360000],
            ['ownerfinance', 2021, 510000 ]]

In [15]:
{ n[0]:n[1] for n in houses}

{'single': 1, 'multi': 7, 'triplex': 3, 'quadriplex': 4, 'duplex': 2}

In [7]:
type(houses)

list

In [8]:
type(houses[1][2])

int

In [13]:
houses[1][1]

7

In [10]:
flick = []
flick.append('refi')
flick.append(2022)
flick.append(380000)
purchase_type.append(flick)
purchase_type

[['va', 2020, 230000],
 ['cash', 2019, 450000],
 ['conventional', 2018, 280000],
 ['county', 2017, 360000],
 ['ownerfinance', 2021, 510000],
 ['refi', 2022, 380000]]

In [11]:
print(purchase_type)

[['va', 2020, 230000], ['cash', 2019, 450000], ['conventional', 2018, 280000], ['county', 2017, 360000], ['ownerfinance', 2021, 510000], ['refi', 2022, 380000]]

In [18]:
lssimple =[1,2,1,1,3,2,2,2,3,2,]

In [21]:
lssimple.index(3)

4

In [22]:
lssimple.count(2)

5

In [29]:
children

['Olivia']

In [30]:
children =["Michael","Olivia","Isaac"]
children.sort(key=str.lower)
children

['Isaac', 'Michael', 'Olivia']

In [31]:
children =["Michael","Olivia","Isaac"]
children.sort(key=str.__len__,reverse = True)
children

['Michael', 'Olivia', 'Isaac']

In [32]:
print(sum(lssimple))

19

In [33]:
fancy = [42,44,46,48,50,52]
print(fancy[0:2])
print(fancy[::-1])

[42, 44]
[52, 50, 48, 46, 44, 42]

In [34]:
print(fancy[0:4:2])
print(fancy[:2])

[42, 46]
[42, 44]

In [35]:
inv = ["cop","military"]
chest = ["vehicle","money"]

print(chest + inv)
print(inv + chest)

['vehicle', 'money', 'cop', 'military']
['cop', 'military', 'vehicle', 'money']

In [36]:
#inv = inv + chest
inv += chest
inv

['cop', 'military', 'vehicle', 'money']

In [37]:
chest

['vehicle', 'money']

In [73]:
my_dict2 = {'e': [1,3,4], 'b': "2", 'c': 3, 'a':[(2, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [74]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [56]:
my_dict2.values()

dict_values([[1, 3, 4], '2', 3, [(2, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [57]:
my_dict2['c']

3

In [58]:
def tptry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    else:
        print("unknown")
    return value

print(tptry('e'))

end
unknown
[1, 3, 4]

In [59]:
print(tptry('1'))

end
string
invalid key

In [61]:
print(tptry('e'))

end
unknown
[1, 3, 4]

In [70]:
children[2]

'Isaac'

In [75]:
my_dict2

{'e': [1, 3, 4],
 'b': '2',
 'c': 3,
 'a': [(2, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [76]:
my_dict2.pop('b')
my_dict2

{'e': [1, 3, 4],
 'c': 3,
 'a': [(2, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [77]:
my_dict2.setdefault('h','addeddata')
my_dict2

{'e': [1, 3, 4],
 'c': 3,
 'a': [(2, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)],
 'h': 'addeddata'}

In [78]:
value = my_dict2.get('f')
print(value is None)

True

In [80]:
type(my_dict2.get('f'))

NoneType

In [81]:
my_dict2.values()

dict_values([[1, 3, 4], 3, [(2, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)], 'addeddata'])

In [82]:
my_dict2.keys()

dict_keys(['e', 'c', 'a', 'h'])

In [83]:
my_dict2.items()

dict_items([('e', [1, 3, 4]), ('c', 3), ('a', [(2, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]), ('h', 'addeddata')])

In [84]:
my_dict2['c']

3

In [85]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3, 4]
key: c value 3
key: a value [(2, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]
key: h value addeddata

In [86]:
print(list(my_dict2))

['e', 'c', 'a', 'h']

In [89]:
contacts = {
    "Oyink":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Siri":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Lan": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [90]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Oyink', 'Siri', 'Lan'])
dict_items([('Oyink', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Siri', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Lan', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [91]:
contacts['Lan']['address']

'1400 Another Street'

In [96]:
contacts['Siri']['phone']

'125-555-2222'

In [97]:
members = ["John Cleese", "Eric Idle","Terry Jones"]
with open("members.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")

In [98]:
groceries = ["egg", "milk","onion","bread"]
with open("groceries.txt", "w") as file:
    file.write("groceries"+ "\n")
    for m in groceries:
        file.write(m + "\n")          # adds new line

In [99]:
lst = []
with open("groceries.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['g',
 'r',
 'o',
 'c',
 'e',
 'r',
 'i',
 'e',
 's',
 '\n',
 'e',
 'g',
 'g',
 '\n',
 'm',
 'i',
 'l',
 'k',
 '\n',
 'o',
 'n',
 'i',
 'o',
 'n',
 '\n',
 'b',
 'r',
 'e',
 'a',
 'd',
 '\n']

In [102]:
!head groceries.txt # why???

'head' is not recognized as an internal or external command,
operable program or batch file.