In [ ]:
help(sqlite3)

In [ ]:
import sqlite3
conn = sqlite3.connect("lesson.db")

In [ ]:
type(conn)

In [ ]:
conn.close()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    pass

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    #DDL - data Definition Language
    #cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name text, last_name text, address text, age integer, PRIMARY KEY (email))")
    #DML - data Manipulation Language
    #cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123 Fantasy lane, Fantasu City', 31)")
    cursor.execute("INSERT INTO user VALUES ('tony@divergence.one', 'Anthony', 'Librera', '123 Fantasy lane, Fantasu City', 39)")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    #DQL = Query
    rows = cursor.execute('SELECT * FROM user')
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute('SELECT * FROM user ORDER BY age DESC, last_name DESC')
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("ALTER TABLE user ADD COLUMN gender text")
    cursor.execute("UPDATE user SET gender='M'")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    rows = cursor.execute("SELECT COUNT(*), gender FROM user GROUP BY gender")
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        CREATE TABLE comments (
            user_id text,
            comments text,
            FOREIGN KEY (user_id) REFERENCES user (email) 
            ON DELETE CASCADE ON UPDATE NO ACTION
        )
    """
    cursor.execute(sql)
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = "INSERT INTO comments VALUES ('{}', '{}')"
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        email = row[0]
        print("Going to create rows for {}".format(email))
        name = row[1] + " " + row[2]
        for i in range(10):
            comment = "This is comment {} by {}".format(i, name)
            conn.cursor().execute(sql.format(email, comment))
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        SELECT * FROM comments 
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        SELECT comments.* FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    cursor.execute("DELETE FROM user WHERE email='bob@example.com'")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    rows = cursor.execute("SELECT * FROM comments")
    for row in rows:
        print(row)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    cursor.execute("UPDATE user set first_name='Chris' where email='tom@web.com'")
    conn.commit()
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

In [ ]:
import pandas as pd

columns = ["Email", "First Name", "Last Name", "Age", "Gender", "Comments"]
data = []
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    
    sql = """
        SELECT user.email, user.first_name, user.last_name, user.age, user.gender, comments.comments FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email = 'tom@web.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        data.append(row)

df = pd.DataFrame(data, columns=columns)
df.head()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("DROP TABLE user")
    conn.commit()